<div>
    <img class="imagemCover" src="/images/cover.jpeg">
</div>

<nav class="navbar" style="background-color: rgb(19, 114, 82); display: flex; justify-content: space-between; align-items: center; padding:0 4em 0 4em">
    <div style="display: flex; align-items: center; color: aliceblue;">
        <i class="bi bi-cart" style="font-size: 2rem;"></i>
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1 style="padding: 10px 20px; margin: 0; font-size: 2em;">Magre</h1>
        </a>
    </div>

    <ul style="display: flex; align-items: center; list-style: none; margin: 0; padding: 0;">
        <li style="margin-right: 10px;">
          <a class="nav-link menu" href="/localizacao">Localização</a>
        </li>
        <li>
          <a class="nav-link menu" href="/contato">Contato</a>
        </li>
    </ul>
</nav>

<style>
    .menu{
        text-decoration: none;
        color:aliceblue;
        font-weight: bolder;
        font-size: 1.1em;
    }

    .menu:hover{
        font-size: 1.2em ;
        color:aliceblue;
    }
    .imagemCover {
        width: 100%;
        height: 4em;
        object-fit: cover;
    }

    nav {
        background-color: rgb(19, 114, 82);
    }
</style>

