<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercados M's</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <%- include ('partials/header.ejs') %>

    <div class="container principal">
        <div class="card item">
            <a href="#Vinhos">
                <img src="/images/vinhos.jpg" alt="Vinhos">
                <div class="overlay">Vinhos: 50% OFF</div>
            </a>
        </div>
        <div class="card item">
            <a href="#Smartphones">
                <img src="/images/i602957.jpeg" alt="Vinhos">
                <div class="overlay">Smartphones</div>
            </a>
        </div>
        <div class="card item">
            <a href="#Alimentos">
                <img src="/images/alimentos.jpg" alt="Alimentos Básicos">
                <div class="overlay">Alimentos Básicos: Ofertas!</div>
            </a>
        </div>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>