body{
    background-color: rgb(246, 244, 239);
}
p{
    text-align: justify;
}
.principal{
    display: flex;
}

.principal {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}

.item {
    flex: 1; /* Faz com que os itens tenham a mesma largura */
    margin: 2em 0 0 0; /* Espaçamento entre os itens */
    text-align: center; /* Centraliza o texto */
    overflow: hidden; /* Garante que a sombra não transborde */
    height: 200px;
}

.item a {
    display: block; /* Transforma o link em um bloco, ocupando todo o espaço do item */
    height: 100%; /* Garante que o link ocupe toda a altura do item */
}


.item img{
    filter: brightness(0.8);
    width: auto; /* Define a largura da imagem como automática */
    height: 100%; /* Define a altura da imagem como 100% do contêiner pai */
    width: 100%; /* Garante que a imagem preencha todo o espaço disponível */
    height: 100%; /* Garante que a imagem preencha toda a altura do item */
    object-fit: cover; /* Redimensiona a imagem para preencher o espaço mantendo a proporção */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.footerStyle{
    color: aliceblue;
    font-size: small;
    text-align: center;
}

.tituloUnidades{
    background-color: rgb(19, 114, 82);
    color: aliceblue;
}

