body{
    background-color: rgb(246, 244, 239);
}
.principal{
    display: flex;
}

.principal {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}

.item {
    flex: 1; /* Faz com que os itens tenham a mesma largura */
    margin: 2rem 10px 0 0; /* Espaçamento entre os itens */
    text-align: center; /* Centraliza o texto */
    overflow: hidden; /* Garante que a sombra não transborde */
    height: 300px; /* Definindo altura dos itens */
    /* ou
    padding: 20px; // Adicionando padding interno para aumentar a altura
    */
}


.item img{
    filter: brightness(0.8);
    width: auto; /* Define a largura da imagem como automática */
    height: 100%; /* Define a altura da imagem como 100% do contêiner pai */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
